<div class="card login" id="card">
    <div>
        <div class="card-section">

            <img class="login-img" src="http://localhost/img/login/user.png" alt="ícone de login"><br>

            <h2 class="title">LOGIN</h2>
            
        </div>
        
        <hr color="gainsboro" size="1px">
        
        <div class="card-section">
                <form action="http://localhost/login/scripts/logar.php" method="POST">
                
                <div class="input-group">
                    <label class="label" for="email">E-mail</label>
                    <input class="input" name="email" type="email" id="email" placeholder="E-mail" required>
                </div>
                
                <div class="input-group">
                    <label class="label" for="senha">Senha</label>
                    <input class="input" name="senha" minlength="3" type="password" id="password" placeholder="Senha" required>
                </div>
                
                <input class="card-btn verde" type="submit" value="Acessar">
                <br>
                <!-- <a href="http://localhost/login/nova-senha">Esqueci minha senha</a> -->
            </form>
        </div>
            
        <hr color="gainsboro" size="1px">

        <div class="card-section">
            <h4>Problemas ao acessar?</h4>
            <p>Entre em contato com seu gestor.</p>
            
        </div>
    </div>

</div>