/*Gerais*/

:root{
    --green: #0fcf0c;
    --dark-gray: #262626;
    --gray: #4a4a4a;
    --light-gray: #f2f2f2;
    --light-blue: #79c6c7;

 
    --header-height: 100px;
    --side-margin: 10vw;
    position: inherit;
}

button {
    height: 35px;
    width: 120px;
    border: none;
    background: var(--gray);
    color: white;
}

body{
    background-color: gainsboro;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: rgba(14, 124, 2, 0.809);
}

hr{
    width: 80%;
    color: var(--dark-gray);

}


.w1{
    width: 10%;
}
.w2{
    width: 20%;
}
.w3{
    width: 30%;
}
.w4{
    width: 40%;
}
.w5{
    width: 50%;
}
.w6{
    width: 60%;
}
.w7{
    width: 70%;
}
.w8{
    width: 80%;
}
.w9{
    width: 90%;
}
.w10{
    width: 100%;
}

.h1{
    height: 10%;
}
.h2{
    height: 20%;
}
.h3{
    height: 30%;
}
.h4{
    height: 40%;
}
.h5{
    height: 50%;
}
.h6{
    height: 60%;
}
.h7{
    height: 70%;
}
.h8{
    height: 80%;
}
.h9{
    height: 90%;
}
.h10{
    height: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex.row{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.card.column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex.center{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50vh;
    left: 50vw;

}

.fit-content{
    height: fit-content;
    width: fit-content;
    text-decoration: none;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    align-items: center;   
}


.flex-container-column{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.btn{
    background-color: var(--dark-gray);
    height: 25px;
    width: fit-content;
    padding: 5px;
    border-radius: 3px;
    color: white;
    margin: 10px;
    transition: 0.3s;
}

.btn:hover{
    background-color: var(--gray);
    transform: scale(1.03);
    cursor: pointer;
}
.btn:active{
    background-color: var(--gray);
    transform: scale(0.97);
    cursor: pointer;
}

.btn > p{
    margin: 3px;
    margin-left: 8px;
    margin-right: 8px;
}



/* HEADER */

.header{
    background-color: var(--dark-gray);
    position: fixed;
    top: 0;
    right: 0;
    height: var(--header-height);
    width: 100vw;
    z-index: 10;
}

.header-margin{
    height: 100%;
    width: 83vw;
    
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-info{
    display: flex;
    flex-direction: column;
    height: 80px;
}

.header-info > p{
    color: white;
    margin: 0px;
}

.header-info > h2{
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
}

.header-info > b{
    color: white;
    margin-bottom: 0px;
}

.header-logo{
    height: 80px;
}

.header-menu{
    height: 50px;
    background-color: var(--light-gray);
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
    z-index: 10;
    
}

.item-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    transition: 0.3s;
    margin-right: 20px;
    margin-left: 20px;
}

.item-menu:hover{
    transform: scale(1.03);
    cursor: pointer;
}

.item-menu:active{
    transform: scale(0.97);
    cursor: pointer;
}


.item-menu > p{
    color: var(--dark-gray);
}

.item-menu > img{
    margin-right: 10px;
    height: 30px;
}


.main-container{
    margin-top: 180px;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
}

.main-container-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* TÍTULOS */

.title-box {
    position: relative;
    left: calc(var(--side-margin)*-1);
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--light-blue);
    padding: 10px;
    display: flex;
    flex-direction: row;
    animation: showTitle 0.5s;
}

.title-box-margin{
    width: var(--side-margin);
}

.title-box > h2 {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

@keyframes showTitle {
    from{left: -13vw;}
    to{left: -10vw;}
}


/* Tabelas */

table{
    border-radius: 20px;
    width: 100%;
    border: solid gainsboro 5px;
    overflow: hidden;
    border-spacing: 0px;
}

.tbl-cell{
    display: flex;
    align-items: center;
    justify-content: center;

}

.tbl-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    margin: 3px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
    border-radius: 5px;
    transition: 0.1s;
}

.tbl-btn:active{
    transform: scale(0.9);
    
}

.tbl-btn.green:hover{
    outline: 0px;
    background-color: rgb(15, 207, 12);
    color: white;
}
.tbl-btn.green{
    background-color: white;
    outline: 2px solid rgb(15, 207, 12);;
    color: rgb(15, 207, 12);
}
.tbl-btn.red:hover{
    outline: 0px;
    background-color: rgb(226, 30, 30);
    color: white;
}
.tbl-btn.red{
    background-color: white;
    outline: 2px solid rgb(226, 30, 30);
    color: rgb(226, 30, 30);
}

th, td{
    outline: 1px solid gainsboro;
    padding: 5px;
}
td{
    text-align: center;
    color: var(--dark-gray);
    background: rgb(255, 255, 255);
}
th{
    color: var(--dark-gray);
    background: rgb(211, 211, 211);
}



/*Card*/

.card{
    background-color: white;
    outline: 2px solid rgb(224, 224, 224);
    border-radius: 10px;
    padding: 20px;
}


.card.w01{
    width: 20vw;
}
.card.w1{
    width: 33vw;
}
.card.w2{
    width: 66vw;
}
.card.w3{
    width: 100vw;
}


.card.h01{
    height: 20vh;
}
.card.h1{
    height: 33vh;
}
.card.h2{
    height: 66vh;
}
.card.h3{
    height: 100vh;
}

.card-element{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.card-element.justify-start{
    justify-content: start;
}



.card-element > p{
    color: var(--gray);
    font-size: 10pt;
    margin: 5px
}







/*Inputs*/
.input-group{
    margin: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-group > label{
    color: var(--gray);
    font-size: 10pt;
    text-align: left;
}

.input-group > input{
    height: 30px;
    outline: 0;
    padding-inline: 7px;
    box-sizing:border-box
}



/*Botões*/
.card-btn{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    height:30px;
    width: 80%;
    border-radius: 30px;
    box-sizing:border-box;
    transition-duration: 0.4s;
    border: none;
    background: rgb(114, 114, 114);
    color: white;
}

.card-btn:hover{
    background: rgb(85, 85, 85);
}


.card-btn.azul{
    background: darkcyan;
    color: white;
}

.card-btn.azul:hover{
    background: rgb(0, 103, 103);
}

.card-btn.branco.azul{
    background: white;
    border: 2px solid darkcyan;
    color: darkcyan;
}

.card-btn.branco.azul:hover{
    background: rgb(0, 103, 103);
    color: white;
}

.card-btn.verde{
    background: rgb(15, 207, 12);
    color: white;
}

.card-btn.verde:hover{
    background: rgb(30, 121, 16);
}

.card-btn.branco.verde{
    background:white;
    border: 2px solid rgb(15, 207, 12);
    color: rgb(15, 207, 12);
}

.card-btn.branco.verde:hover{
    background: rgb(30, 121, 16);
    border: none;
    color: white;
}



/* popups */
.popup-background {
    background: black;
    opacity: 30%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.popup-close{
    position: absolute;
    left: 93%;
    top: 0;
    color: var(--gray);
    background: var(--light-gray);
    width: 20px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.card.popup {
    height: 50vh;
    width: 30vw;
    overflow: hidden;
    animation: pop 0.3s;
    transition: 0.1s;
}

.popup {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 100;
}

.popup img {
    height: 100%;
}

@keyframes pop {
    0%{
        transform: translate(-50%, -50%) scale(1);
    }
    30%{
        transform: translate(-50%, -51%) scale(1.02);
    }
    100%{
        transform: translate(-50%, -50%) scale(1);
    }
}

/*outros*/

.link{
    background-color: none;
    border: 0px;
    text-decoration: underline;  
    cursor: pointer;  
}

.login-img{
    border-radius: 50px;
    width: 100px;
}
